@import vars

.scores
    margin: 1rem
    border-bottom: 0.5px solid black
    display: flex
    justify-content: space-between
    padding-left: 1rem
    padding-right: 1rem
    padding-bottom: 1rem
    @include SecondFont
